name: CI
on:
  push:
    branches:
      - master
      - feature/*
    paths-ignore:
      - "README.md"
      - "LICENSE"
  pull_request:
    branches:
      - master
    paths-ignore:
      - ".**"
      - "README.md"
      - "LICENSE"
env:
  PYTHON_VERSION: "3.10"
jobs:
  validate-mappings:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Download schema
        run: wget -O custom_mappings_schema.json https://raw.githubusercontent.com/RickDB/PlexAniSync/master/custom_mappings_schema.json
      - name: Validate mappings
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          python validate.py
  sort-mappings:
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Sort entries
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          python sort.py
      - name: Commit changes from sorting
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Sort entries
          branch: ci/sort-${{ github.sha }}
          create_branch: true
